table,th,td{
    border: 1px solid;
    padding: 10px;
}
body{
    background: #587B7F;
}
th{
    color:white;
    background:black;
    text-align: center;
}
td{
    color: black;
    background: white;
}
h1{
    text-align: center;
    color: lightblue;
}
li.pointer{
    cursor: pointer;
}